body {
    background-color:#f9f9f9 ;
   

}
#form1{
    font-family: Arial,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
    color:blue;
    position:relative;
}
h1{
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    margin:20px;
    position:relative;
    color:black;

}
Button{
    background-color:black;
    color:red;
}
.hyperlink{
    color:darkblue;
}
.container{
    background-color:antiquewhite;
    position:relative;
   
    padding:5px;
}
.input{
    position:relative;
    text-align:left;
    margin:auto; 
    box-sizing:border-box;
}